html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
    font-family: Karla, Helvetica, Arial;
    background-color: #e6c5ac;
    color: #141414;
}

img {
    margin: auto;
    display: block;
}

h1 {
    margin: 30px;
    font-size: 4rem;
    font-weight: bold;
    font-family: Spectral, Helvetica;
}

h2 {
    margin: 30px;
    font-size: 3rem;
    font-weight: bold;
    font-family: Spectral, Helvetica;
}

h3 {
    margin: 30px 0px -30px 220px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Spectral, Helvetica;
    text-align: left;
}
ul {
    margin: 0px 200px;
    list-style: disc;
    padding: 40px;
    text-align: left;
}

li {
    margin: 15px 20px;
}

strong {
    font-weight: bold;
}

.container {
    width: 850px;
    margin: auto;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 20px 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: #fff5de;
    padding: 20px;
}

.container img {
    height: 250px;
}

.d1 {
    grid-column: 2/4;
}

.d2 {
    grid-column: 1/2;
}